com.authright.saml2/.vs
com.authright.saml2/com.authright.saml2/obj
com.authright.saml2/com.authright.saml2/bin
com.authright.saml2/com.authright.saml2.ext.audit.nlog/obj
com.authright.saml2/com.authright.saml2.ext.audit.nlog/bin
