<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logFile" xsi:type="File"
            layout="${longdate}|${logger}|${level}|${message}"
            fileName="c:/var/com.authright.saml2/logs/log.txt"
            archiveFileName="c:/var/com.authright.saml2/logs/log.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Date"
            encoding="UTF-8" />
    <target name="console" xsi:type="Console"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logFile" />
  </rules>
</nlog>