<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="Federation" type="com.authright.saml2.config.ConfigurationReader, com.authright.saml2"/>
    <section name="SAML20Federation" type="com.authright.saml2.config.ConfigurationReader, com.authright.saml2"/>
  </configSections>

  <Federation auditLoggingType="com.authright.saml2.ext.audit.nlog.NLogAuditLogger, com.authright.saml2.ext.audit.nlog" xmlns="urn:com.authright.saml2.configuration">
    <!-- SigningCertificate findValue="CN=Nemlogin-Test-Net (funktionscertifikat), O=TRIFORK SERVICES A/S // CVR:25520041, C=DK" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectDistinguishedName" / -->
    <!-- redirect certificate : -->
    <SigningCertificate findValue="CN=ServiceProvider, O=NITA, C=DK" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectDistinguishedName"/>
    <!-- post certificate : -->
    <!-- SigningCertificate findValue="919a3dd54334de3f0dba451a556e7f9fe980b01c" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/ -->
    <!-- JAVA post certificate : -->
    <!--SigningCertificate findValue="d8ceb349503d693a156328c31b032764eab5f211" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/-->
    <!-- The list of allowed audiences must at least contain the id of the service provider. -->
    <AllowedAudienceUris>
      <Audience>http://zz-localdev</Audience>
    </AllowedAudienceUris>
    <Actions>
      <clear/>
      <add name="SetSamlPrincipal" type="com.authright.saml2.Actions.SamlPrincipalAction, com.authright.saml2"/>
      <add name="LogAction" type="SPWebSiteDemo.LogAction, SPWebSiteDemo"/>
      <add name="Redirect" type="com.authright.saml2.Actions.RedirectAction, com.authright.saml2"/>
    </Actions>
  </Federation>
  <SAML20Federation xmlns="urn:com.authright.saml2.configuration">
    <ShowError>true</ShowError>
    <ServiceProvider id="http://zz-localdev" server="http://localhost:50992">
      <ServiceEndpoint localpath="/login.ashx" type="signon" redirectUrl="/MyPage.aspx?action=sso" index="0"/>
      <ServiceEndpoint localpath="/logout.ashx" type="logout" redirectUrl="/Default.aspx" index="1"/>
      <ServiceEndpoint localpath="/metadata.ashx" type="metadata"/>
    </ServiceProvider>
    <NameIdFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified</NameIdFormat>
    <IDPEndPoints metadata="C:\nemlogin\idp">
      <add id="https://idp.ssocircle.com" omitAssertionSignatureCheck="true"/>
      <add id="http://openam.example.com:8080/openam" omitAssertionSignatureCheck="true"/>
    </IDPEndPoints>
  </SAML20Federation>

  <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
